@font-face {
    font-family: LeagueSpartan;
    src: url(LeagueSpartan-VariableFont_wght.ttf);
}

.theme-box{
    text-align: right;
    float: right;
    font-size: 16px;
}

.container{
    height: 500px;
    width: 400px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

body{
    background-color: hsl(222, 26%, 31%);
    font-family: LeagueSpartan;
    font-size: 32px;
}

p{
    text-align: right;
    background-color: hsl(224, 36%, 15%);
    padding: 5%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button{
    margin-left: 20px;
    margin-top: 20px;
    background-color: hsl(0, 0%, 90%);
    width: 75px;
    text-align: center;
    float: left;
    color: hsl(221, 14%, 31%);
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 2px 2px hsl(0, 0%, 80%);
}

.container2{
    width: 400px;
    height: 289px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
}

.delete-button{
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    float: left;
    text-align: center;
    background-color: hsl(225, 21%, 49%);
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 2px 2px hsl(224, 28%, 35%);
}

.reset-button{
    margin-left: 20px;
    margin-top: 20px;
    width: 170px;
    float: left;
    text-align: center;
    background-color: hsl(225, 21%, 49%);
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 2px 2px hsl(224, 28%, 35%);
}

.equal-button{
    margin-left: 20px;
    margin-top: 20px;
    width: 170px;
    float: left;
    text-align: center;
    background-color: hsl(6, 63%, 50%);
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 2px 2px hsl(6, 70%, 34%);
}